*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#111111;
  color:#ffffff;
}

header{
  padding:80px 20px;
  text-align:center;
}

h1{
  color:#FFD54F;
  font-size:4rem;
}

section{
  padding:40px 20px;
  text-align:center;
}

footer{
  padding:20px;
  text-align:center;
}